<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Чат поддержки</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
 <div class="container">
  <h2>Чат поддержки</h2>
	<div id="chat-box">
		 <!--<p><strong>Admin:</strong> Добро пожаловать в чат!</p> -->
		 <!--Здесь с помощью Jinja2-шаблонизатора отображаем все сообщения -->
		<!-- {% for msg in messages %}
		<div class="message {{ msg.type }}">
			{{ msg | safe }}
		</div>
		{% endfor %}-->
		{% for msg in messages %}
		<div class="msg {% if msg.type == 'admin' %}textAdmin{% else %}textUser{% endif %}">
			{{ msg.text | safe }}
		</div>
		{% endfor %}
  	</div>

	<!-- Для демонстрации сохраненной XSS - <script>alert(1)</script> -->
  	<form id="message-form" action="/send" method="post">
    	<input type="text" id="message" name="message" placeholder="Введите сообщение" required>
    	<button type="submit">Отправить</button>
  	</form>
	
	
	<!-- Для демонстрации отраженной XSS - <script>alert(1)</script> -->
	<!--<form id="message-form" action="/send" method="get">
    	<input type="text" id="message" name="message" placeholder="Введите сообщение" required>
    	<button type="submit">Отправить</button>
  	</form>
	-->
 </div>
</body>
</html>